
.DS_Store
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/appsettings.Development.json
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/appsettings.json
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/Microsoft.Data.Sqlite.dll
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/Microsoft.DotNet.PlatformAbstractions.dll
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Sqlite.dll
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyModel.dll
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/MiniProject4.deps.json
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/MiniProject4.dll
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/MiniProject4.pdb
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/MiniProject4.runtimeconfig.dev.json
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/MiniProject4.runtimeconfig.json
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/MiniProject4.Views.dll
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/MiniProject4.Views.pdb
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/runtimes/alpine-x64/native/libe_sqlite3.so
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/runtimes/linux-arm/native/libe_sqlite3.so
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/runtimes/linux-arm64/native/libe_sqlite3.so
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/runtimes/linux-armel/native/libe_sqlite3.so
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/runtimes/linux-musl-x64/native/libe_sqlite3.so
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/libe_sqlite3.so
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/runtimes/linux-x86/native/libe_sqlite3.so
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/runtimes/osx-x64/native/libe_sqlite3.dylib
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/runtimes/win-arm/native/e_sqlite3.dll
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/e_sqlite3.dll
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/e_sqlite3.dll
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/e_sqlite3.dll
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/SQLitePCLRaw.batteries_v2.dll
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/SQLitePCLRaw.core.dll
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/SQLitePCLRaw.nativelibrary.dll
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/SQLitePCLRaw.provider.dynamic_cdecl.dll
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
MiniProject4/MiniProject4/bin/Debug/netcoreapp3.1/System.Text.Json.dll
MiniProject4/MiniProject4/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
MiniProject4/MiniProject4/obj/Debug/netcoreapp3.1/staticwebassets/MiniProject4.StaticWebAssets.Manifest.cache
MiniProject4/MiniProject4/obj/Debug/netcoreapp3.1/staticwebassets/MiniProject4.StaticWebAssets.xml
MiniProject4/MiniProject4/obj/MiniProject4.csproj.nuget.dgspec.json
MiniProject4/MiniProject4/obj/MiniProject4.csproj.nuget.g.props
MiniProject4/MiniProject4/obj/MiniProject4.csproj.nuget.g.targets
MiniProject4/MiniProject4/obj/project.assets.json
MiniProject4/MiniProject4/obj/project.nuget.cache
